# Elo Score Calculation

In [1]:
import re
from collections import defaultdict

In [2]:
import numpy as np
import pandas as pd

## Summary

- Notebook that calcuates the Elo Score of mice competing over access to a tone associated reward port
- The data is a spreadsheet of combination of subjects (as rows) against dates (as columns)

## Importing Data

- The original data has been trimmed so that only the cells with dates, winner ID's, and relevant metadata were kept

In [37]:
tube_test_df = pd.read_csv("../../data/tube_test_fights.csv")

In [38]:
tube_test_df.head()

,cage,animal,25-Apr,26-Apr,27-Apr,28-Apr,29-Apr,2-May,4-May,5-May,6-May,9-May,10-May,11-May,12-May,13-May,20-May
0,1,1.1 v 2.2,1.1,1.1,1.1,2.2,1.1,1.1,NaN,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1
1,1,2.2 v 2.3,2.2,2.3,2.2,2.2,2.2,2.2,NaN,2.2,2.2,2.2,2.2,2.2,2.2,2.2,2.2
2,1,2.3 v 1.4,1.4,1.4,1.4,1.4,1.4,1.4,NaN,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4
3,1,1.4 v 1.1,1.4,1.4,1.4,1.4,1.4,1.4,NaN,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4
4,1,2.2 v 1.4,1.4,1.4,1.4,1.4,1.4,1.4,NaN,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4

## Doing it for a subset of the data

- To test out the code, we will be using the data from only one cage

In [39]:
# Getting all the rows that are from cage 1
cage_1_df = tube_test_df[tube_test_df["cage"] == 1]

In [40]:
cage_1_df

,cage,animal,25-Apr,26-Apr,27-Apr,28-Apr,29-Apr,2-May,4-May,5-May,6-May,9-May,10-May,11-May,12-May,13-May,20-May
0,1,1.1 v 2.2,1.1,1.1,1.1,2.2,1.1,1.1,NaN,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1
1,1,2.2 v 2.3,2.2,2.3,2.2,2.2,2.2,2.2,NaN,2.2,2.2,2.2,2.2,2.2,2.2,2.2,2.2
2,1,2.3 v 1.4,1.4,1.4,1.4,1.4,1.4,1.4,NaN,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4
3,1,1.4 v 1.1,1.4,1.4,1.4,1.4,1.4,1.4,NaN,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4
4,1,2.2 v 1.4,1.4,1.4,1.4,1.4,1.4,1.4,NaN,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4
5,1,1.1 v 2.3,2.3,1.1,1.1,1.1,1.1,1.1,NaN,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1

## Getting a list of all the animals

- Because each cell does not contain the ID of all the animals that were competing, we will make a new column with both ID's

In [54]:
def get_all_animal_ids(animal_string):
    """
    Converts a string that contains the ID of animals, and only gets the IDs. 
    This usually removes extra characters that were added. (i.e. "1.1 v 2.2" to ("1.1", "2.2"))

    Args:
        animal_string(str): This is the first param.

    Returns:
        tuple: Of IDs of animals as strings
    """
    # Splitting by space so that we have a list of just the words
    all_words = animal_string.split()
    # Removing all words that are not numbers
    all_numbers = [num for num in all_words if re.match(r'^-?\d+(?:\.\d+)$', num)]
    return tuple(all_numbers)

In [48]:
print(get_all_animal_ids("1.1 v 2.3"))

('1.1', '2.3')

- Turning all the columns into string so that we can match the ID's from one column to another

In [45]:
for col in cage_1_df.columns:
    cage_1_df[col] = cage_1_df[col].astype(str)

/tmp/ipykernel_111417/4260518769.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cage_1_df[col] = cage_1_df[col].astype(str)

In [50]:
cage_1_df.head()

,cage,animal,25-Apr,26-Apr,27-Apr,28-Apr,29-Apr,2-May,4-May,5-May,6-May,9-May,10-May,11-May,12-May,13-May,20-May,all_animals
0,1,1.1 v 2.2,1.1,1.1,1.1,2.2,1.1,1.1,nan,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,"(1.1, 2.2)"
1,1,2.2 v 2.3,2.2,2.3,2.2,2.2,2.2,2.2,nan,2.2,2.2,2.2,2.2,2.2,2.2,2.2,2.2,"(2.2, 2.3)"
2,1,2.3 v 1.4,1.4,1.4,1.4,1.4,1.4,1.4,nan,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4,"(2.3, 1.4)"
3,1,1.4 v 1.1,1.4,1.4,1.4,1.4,1.4,1.4,nan,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4,"(1.4, 1.1)"
4,1,2.2 v 1.4,1.4,1.4,1.4,1.4,1.4,1.4,nan,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4,"(2.2, 1.4)"

In [49]:
cage_1_df["all_animals"] = cage_1_df["animal"].apply(lambda x: get_all_animal_ids(x))

/tmp/ipykernel_111417/1018194899.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cage_1_df["all_animals"] = cage_1_df["animal"].apply(lambda x: get_all_animal_ids(x))

In [51]:
cage_1_df.head()

,cage,animal,25-Apr,26-Apr,27-Apr,28-Apr,29-Apr,2-May,4-May,5-May,6-May,9-May,10-May,11-May,12-May,13-May,20-May,all_animals
0,1,1.1 v 2.2,1.1,1.1,1.1,2.2,1.1,1.1,nan,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,"(1.1, 2.2)"
1,1,2.2 v 2.3,2.2,2.3,2.2,2.2,2.2,2.2,nan,2.2,2.2,2.2,2.2,2.2,2.2,2.2,2.2,"(2.2, 2.3)"
2,1,2.3 v 1.4,1.4,1.4,1.4,1.4,1.4,1.4,nan,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4,"(2.3, 1.4)"
3,1,1.4 v 1.1,1.4,1.4,1.4,1.4,1.4,1.4,nan,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4,"(1.4, 1.1)"
4,1,2.2 v 1.4,1.4,1.4,1.4,1.4,1.4,1.4,nan,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4,"(2.2, 1.4)"

## Elo Score Calculation

In [55]:
def calculate_elo_score(subject_elo_score, agent_elo_score, k_factor=20, score=1, number_of_decimals=None):
    """
    Calculates the Elo score of a given subject given it's original score, it's opponent, 
    the K-Factor, and whether or not it has won or not. 
    The calculation is based on: https://www.omnicalculator.com/sports/elo

    Args:
        subject_elo_score(float): The original Elo score for the subject
        agent_elo_score(float): The original Elo score for the agent
        k_factor(int): k-factor, or development coefficient. 
            - It usually takes values between 10 and 40, depending on player's strength 
        score(int): the actual outcome of the game. 
            - In chess, a win counts as 1 point, a draw is equal to 0.5, and a lose gives 0.
        number_of_decimals(int): Number of decimals to round to
        
    Returns:
        int: Updated Elo score of the subject
    """
    # Calculating the Elo score
    rating_difference = subject_elo_score - agent_elo_score
    expected_score = 1 / (1 + 10 ** (rating_difference / 400))
    new_elo_score = subject_rating + k_factor * (score - expected_score)
    # Rounding to `number_of_decimals`
    return round(new_elo_score, number_of_decimals)

In [53]:
calculate_elo_score(subject_rating=1500, agent_rating=500, score=0)

1500

## Calculate all the Elo scores for this cage

In [16]:
cage_1_df.columns

Index(['cage', 'animal', '25-Apr', '26-Apr', '27-Apr', '28-Apr', '29-Apr',
       '2-May', '4-May', '5-May', '6-May', '9-May', '10-May', '11-May',
       '12-May', '13-May', '20-May', 'all_animals'],
      dtype='object')

In [17]:
id_to_elo_score = defaultdict(lambda:1000)
id_to_day_to_elo_score = defaultdict(dict)
for column in cage_1_df:
    if column not in ['cage', 'animal', 'all_animals']:
        print("Current Date: {}".format(column))
        for index, row in cage_1_df.iterrows():
            if row[column] == "nan":
                continue
            else:            
                winner_id = row[column]
            loser_id = list(set(row["all_animals"]) - set([winner_id]))
            loser_id = loser_id[0]
            current_winner_rating = id_to_elo_score[winner_id] 
            current_loser_rating = id_to_elo_score[loser_id] 
            
            id_to_elo_score[winner_id] = calculate_elo_score(subject_rating=current_winner_rating, agent_rating=current_loser_rating, score=1)
            id_to_elo_score[loser_id] = calculate_elo_score(subject_rating=current_loser_rating, agent_rating=current_winner_rating, score=0)
            id_to_day_to_elo_score[winner_id][column] = id_to_elo_score[winner_id]
            id_to_day_to_elo_score[loser_id][column] = id_to_elo_score[loser_id]

Current Date: 25-Apr
Current Date: 26-Apr
Current Date: 27-Apr
Current Date: 28-Apr
Current Date: 29-Apr
Current Date: 2-May
Current Date: 4-May
Current Date: 5-May
Current Date: 6-May
Current Date: 9-May
Current Date: 10-May
Current Date: 11-May
Current Date: 12-May
Current Date: 13-May
Current Date: 20-May

In [18]:
id_to_elo_score

defaultdict(<function __main__.<lambda>()>,
            {'1.1': 1154.3595348295344,
             '2.2': 745.0332818587308,
             '2.3': 408.6268065515695,
             '1.4': 1691.9803767601657})

In [19]:
id_to_day_to_elo_score

defaultdict(dict,
            {'1.1': {'25-Apr': 990.5664993847546,
              '26-Apr': 999.4458171400197,
              '27-Apr': 1009.957621071186,
              '28-Apr': 1000.6205176739941,
              '29-Apr': 1011.3798817179143,
              '2-May': 1023.3639405434998,
              '5-May': 1036.574950338623,
              '6-May': 1050.951841150997,
              '9-May': 1066.382069063183,
              '10-May': 1082.7230643562225,
              '11-May': 1099.8243281762548,
              '12-May': 1117.5438244389834,
              '13-May': 1135.7569526082937,
              '20-May': 1154.3595348295344},
             '2.2': {'25-Apr': 989.1207441750823,
              '26-Apr': 956.4048576685256,
              '27-Apr': 940.4878516425163,
              '28-Apr': 943.9899314558725,
              '29-Apr': 927.1777239400035,
              '2-May': 909.1442970462924,
              '5-May': 890.1044834295956,
              '6-May': 870.2901800187615,
              '9-May': 849.9191867812261,
              '10-May': 829.1783200128937,
              '11-May': 808.2183005979322,
              '12-May': 787.1550896540735,
              '13-May': 766.0737886807239,
              '20-May': 745.0332818587308},
             '2.3': {'25-Apr': 989.4337321364864,
              '26-Apr': 978.8205576197178,
              '27-Apr': 945.9099747124098,
              '28-Apr': 909.4338571797703,
              '29-Apr': 869.4512871408631,
              '2-May': 826.2122791901787,
              '5-May': 780.1059181603599,
              '6-May': 731.5696312484632,
              '9-May': 681.0198278477437,
              '10-May': 628.8176373799797,
              '11-May': 575.260672554094,
              '12-May': 520.5883321471385,
              '13-May': 464.99218740426613,
              '20-May': 408.6268065515695},
             '1.4': {'25-Apr': 1030.8790243036767,
              '26-Apr': 1065.3287675717368,
              '27-Apr': 1103.6445525738877,
              '28-Apr': 1145.9556936903632,
              '29-Apr': 1191.9911072012192,
              '2-May': 1241.279483220029,
              '5-May': 1293.2146480714216,
              '6-May': 1347.1883475817785,
              '9-May': 1402.6789163078474,
              '10-May': 1459.2809782509044,
              '11-May': 1516.6966986717193,
              '12-May': 1574.7127537598049,
              '13-May': 1633.177071306717,
              '20-May': 1691.9803767601657}})

# Calculate Elo score for all cells

In [20]:
for col in tube_test_df.columns:
    tube_test_df[col] = tube_test_df[col].astype(str)

In [21]:
rename_dates_dict = {"25-Apr": "04_25",  "26-Apr": "04_26",  "27-Apr": "04_27",  "28-Apr": "04_28",  "29-Apr": "04_29",  "2-May": "05_02", "4-May": "05_04", "5-May": "05_05", "6-May": "05_06", "9-May": "05_09", "10-May": "05_10", "11-May": "05_11", "12-May": "05_12", "13-May": "05_13",  "20-May": "05_20"}

In [22]:
tube_test_df = tube_test_df.rename(columns=rename_dates_dict)

In [23]:
tube_test_df.head()

,cage,animal,04_25,04_26,04_27,04_28,04_29,05_02,05_04,05_05,05_06,05_09,05_10,05_11,05_12,05_13,05_20
0,1,1.1 v 2.2,1.1,1.1,1.1,2.2,1.1,1.1,nan,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1
1,1,2.2 v 2.3,2.2,2.3,2.2,2.2,2.2,2.2,nan,2.2,2.2,2.2,2.2,2.2,2.2,2.2,2.2
2,1,2.3 v 1.4,1.4,1.4,1.4,1.4,1.4,1.4,nan,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4
3,1,1.4 v 1.1,1.4,1.4,1.4,1.4,1.4,1.4,nan,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4
4,1,2.2 v 1.4,1.4,1.4,1.4,1.4,1.4,1.4,nan,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4

In [24]:
tube_test_df["all_animals"] = tube_test_df["animal"].apply(lambda x: get_all_animals(x))

## Get the Elo score for all fights

In [25]:
tube_test_df.columns

Index(['cage', 'animal', '04_25', '04_26', '04_27', '04_28', '04_29', '05_02',
       '05_04', '05_05', '05_06', '05_09', '05_10', '05_11', '05_12', '05_13',
       '05_20', 'all_animals'],
      dtype='object')

In [36]:
id_to_elo_score = defaultdict(lambda:1000)
id_to_day_to_elo_score = defaultdict(dict)
for column in tube_test_df.columns:
    if column not in ['cage', 'animal', 'all_animals']:
        print("Current Date: {}".format(column))
        id_to_match_number = defaultdict(lambda:1)

        for index, row in tube_test_df.iterrows():
            if row[column] == "nan":
                continue
            else:            
                winner_id = row[column]
            
            
            loser_id = list(set(row["all_animals"]) - set([winner_id]))
            loser_id = loser_id[0]
            current_winner_rating = id_to_elo_score[winner_id] 
            current_loser_rating = id_to_elo_score[loser_id] 
            
            id_to_elo_score[winner_id] = calculate_elo_score(subject_rating=current_winner_rating, agent_rating=current_loser_rating, score=1)
            id_to_elo_score[loser_id] = calculate_elo_score(subject_rating=current_loser_rating, agent_rating=current_winner_rating, score=0)
            id_to_day_to_elo_score[winner_id]["cage"] = row["cage"]
            id_to_day_to_elo_score[loser_id]["cage"] = row["cage"]          
            id_to_day_to_elo_score[winner_id]["{}_match_{}".format(column, id_to_match_number[winner_id])] = id_to_elo_score[winner_id]
            id_to_day_to_elo_score[loser_id]["{}_match_{}".format(column, id_to_match_number[winner_id])] = id_to_elo_score[loser_id]
            print(row["animal"], "cage: ", row["cage"])
            print(winner_id, id_to_match_number[winner_id])
            print(loser_id, id_to_match_number[loser_id])
            id_to_match_number[winner_id] += 1
            id_to_match_number[loser_id] += 1

Current Date: 04_25
1.1 v 2.2 cage:  1
1.1 1
2.2 1
2.2 v 2.3 cage:  1
2.2 2
2.3 1
2.3 v 1.4 cage:  1
1.4 1
2.3 2
1.4 v 1.1 cage:  1
1.4 2
1.1 2
2.2 v 1.4 cage:  1
1.4 3
2.2 3
1.1 v 2.3 cage:  1
2.3 3
1.1 3
1.2 v 1.3 cage:  2
1.2 1
1.3 1
1.3 v 2.4 cage:  2
2.4 1
1.3 2
2.1 v 1.3 cage:  2
2.1 1
1.3 3
3.2 v 4.2 cage:  3
3.2 1
4.2 1
4.2 v 3.3 cage:  3
4.2 2
3.3 1
3.3 v 4.1 cage:  3
3.3 2
4.1 1
4.1 v 3.2 cage:  3
3.2 2
4.1 2
4.1 v 4.2 cage:  3
4.2 3
4.1 3
3.2 v 3.3 cage:  3
3.3 3
3.2 3
3.4 v 4.3 cage:  4
4.3 1
3.4 1
4.3 v 3.1 cage:  4
4.3 2
3.1 1
3.1 v 4.4 cage:  4
3.1 2
4.4 1
4.4 v 3.4 cage:  4
3.4 2
4.4 2
4.3 v 4.4 cage:  4
4.3 3
4.4 3
3.4 v 3.1 cage:  4
3.1 3
3.4 3
Current Date: 04_26
1.1 v 2.2 cage:  1
1.1 1
2.2 1
2.2 v 2.3 cage:  1
2.3 1
2.2 2
2.3 v 1.4 cage:  1
1.4 1
2.3 2
1.4 v 1.1 cage:  1
1.4 2
1.1 2
2.2 v 1.4 cage:  1
1.4 3
2.2 3
1.1 v 2.3 cage:  1
1.1 3
2.3 3
2.1 v 1.2 cage:  2
2.1 1
1.2 1
1.2 v 1.3 cage:  2
1.2 2
1.3 1
1.3 v 2.4 cage:  2
2.4 1
1.3 2
2.4 v 2.1 cage:  2
2.4 2
2.1 2
1.2 v 2.4 cage:  2
2.4 3
1.2 3
2.1 v 1.3 cage:  2
2.1 3
1.3 3
3.2 v 4.2 cage:  3
3.2 1
4.2 1
4.2 v 3.3 cage:  3
4.2 2
3.3 1
3.3 v 4.1 cage:  3
3.3 2
4.1 1
4.1 v 3.2 cage:  3
3.2 2
4.1 2
4.1 v 4.2 cage:  3
4.2 3
4.1 3
3.2 v 3.3 cage:  3
3.2 3
3.3 3
3.4 v 4.3 cage:  4
4.3 1
3.4 1
4.3 v 3.1 cage:  4
4.3 2
3.1 1
3.1 v 4.4 cage:  4
3.1 2
4.4 1
4.4 v 3.4 cage:  4
3.4 2
4.4 2
4.3 v 4.4 cage:  4
4.3 3
4.4 3
3.4 v 3.1 cage:  4
3.1 3
3.4 3
Current Date: 04_27
1.1 v 2.2 cage:  1
1.1 1
2.2 1
2.2 v 2.3 cage:  1
2.2 2
2.3 1
2.3 v 1.4 cage:  1
1.4 1
2.3 2
1.4 v 1.1 cage:  1
1.4 2
1.1 2
2.2 v 1.4 cage:  1
1.4 3
2.2 3
1.1 v 2.3 cage:  1
1.1 3
2.3 3
2.1 v 1.2 cage:  2
2.1 1
1.2 1
1.2 v 1.3 cage:  2
1.2 2
1.3 1
1.3 v 2.4 cage:  2
2.4 1
1.3 2
2.4 v 2.1 cage:  2
2.4 2
2.1 2
1.2 v 2.4 cage:  2
2.4 3
1.2 3
2.1 v 1.3 cage:  2
2.1 3
1.3 3
3.2 v 4.2 cage:  3
3.2 1
4.2 1
4.2 v 3.3 cage:  3
3.3 1
4.2 2
3.3 v 4.1 cage:  3
3.3 2
4.1 1
4.1 v 3.2 cage:  3
3.2 2
4.1 2
4.1 v 4.2 cage:  3
4.2 3
4.1 3
3.2 v 3.3 cage:  3
3.2 3
3.3 3
3.4 v 4.3 cage:  4
4.3 1
3.4 1
4.3 v 3.1 cage:  4
4.3 2
3.1 1
3.1 v 4.4 cage:  4
3.1 2
4.4 1
4.4 v 3.4 cage:  4
3.4 2
4.4 2
4.3 v 4.4 cage:  4
4.3 3
4.4 3
3.4 v 3.1 cage:  4
3.4 3
3.1 3
Current Date: 04_28
1.1 v 2.2 cage:  1
2.2 1
1.1 1
2.2 v 2.3 cage:  1
2.2 2
2.3 1
2.3 v 1.4 cage:  1
1.4 1
2.3 2
1.4 v 1.1 cage:  1
1.4 2
1.1 2
2.2 v 1.4 cage:  1
1.4 3
2.2 3
1.1 v 2.3 cage:  1
1.1 3
2.3 3
2.1 v 1.2 cage:  2
2.2 4
1.2 1
1.2 v 1.3 cage:  2
2.2 5
1.2 2
1.3 v 2.4 cage:  2
2.4 1
1.3 1
2.4 v 2.1 cage:  2
2.4 2
2.1 1
1.2 v 2.4 cage:  2
2.4 3
1.2 3
2.1 v 1.3 cage:  2
2.1 2
1.3 2
3.2 v 4.2 cage:  3
3.2 1
4.2 1
4.2 v 3.3 cage:  3
4.2 2
3.3 1
3.3 v 4.1 cage:  3
3.3 2
4.1 1
4.1 v 3.2 cage:  3
3.2 2
4.1 2
4.1 v 4.2 cage:  3
4.2 3
4.1 3
3.2 v 3.3 cage:  3
3.2 3
3.3 3
3.4 v 4.3 cage:  4
4.3 1
3.4 1
4.3 v 3.1 cage:  4
4.3 2
3.1 1
3.1 v 4.4 cage:  4
3.1 2
4.4 1
4.4 v 3.4 cage:  4
3.4 2
4.4 2
4.3 v 4.4 cage:  4
4.3 3
4.4 3
3.4 v 3.1 cage:  4
3.1 3
3.4 3
Current Date: 04_29
1.1 v 2.2 cage:  1
1.1 1
2.2 1
2.2 v 2.3 cage:  1
2.2 2
2.3 1
2.3 v 1.4 cage:  1
1.4 1
2.3 2
1.4 v 1.1 cage:  1
1.4 2
1.1 2
2.2 v 1.4 cage:  1
1.4 3
2.2 3
1.1 v 2.3 cage:  1
1.1 3
2.3 3
2.1 v 1.2 cage:  2
2.1 1
1.2 1
1.2 v 1.3 cage:  2
1.2 2
1.3 1
1.3 v 2.4 cage:  2
2.4 1
1.3 2
2.4 v 2.1 cage:  2
2.4 2
2.1 2
1.2 v 2.4 cage:  2
2.4 3
1.2 3
2.1 v 1.3 cage:  2
2.1 3
1.3 3
3.2 v 4.2 cage:  3
3.2 1
4.2 1
4.2 v 3.3 cage:  3
4.2 2
3.3 1
3.3 v 4.1 cage:  3
3.3 2
4.1 1
4.1 v 3.2 cage:  3
3.2 2
4.1 2
4.1 v 4.2 cage:  3
4.2 3
4.1 3
3.2 v 3.3 cage:  3
3.2 3
3.3 3
3.4 v 4.3 cage:  4
4.3 1
3.4 1
4.3 v 3.1 cage:  4
4.3 2
3.1 1
3.1 v 4.4 cage:  4
3.1 2
4.4 1
4.4 v 3.4 cage:  4
3.4 2
4.4 2
4.3 v 4.4 cage:  4
4.3 3
4.4 3
3.4 v 3.1 cage:  4
3.1 3
3.4 3
Current Date: 05_02
1.1 v 2.2 cage:  1
1.1 1
2.2 1
2.2 v 2.3 cage:  1
2.2 2
2.3 1
2.3 v 1.4 cage:  1
1.4 1
2.3 2
1.4 v 1.1 cage:  1
1.4 2
1.1 2
2.2 v 1.4 cage:  1
1.4 3
2.2 3
1.1 v 2.3 cage:  1
1.1 3
2.3 3
2.1 v 1.2 cage:  2
2.1 1
1.2 1
1.2 v 1.3 cage:  2
1.2 2
1.3 1
1.3 v 2.4 cage:  2
2.4 1
1.3 2
2.4 v 2.1 cage:  2
2.4 2
2.1 2
1.2 v 2.4 cage:  2
2.4 3
1.2 3
2.1 v 1.3 cage:  2
2.1 3
1.3 3
3.2 v 4.2 cage:  3
4.2 1
3.2 1
4.2 v 3.3 cage:  3
4.2 2
3.3 1
3.3 v 4.1 cage:  3
4.1 1
3.3 2
4.1 v 3.2 cage:  3
3.2 2
4.1 2
4.1 v 4.2 cage:  3
4.2 3
4.1 3
3.2 v 3.3 cage:  3
3.2 3
3.3 3
3.4 v 4.3 cage:  4
4.3 1
3.4 1
4.3 v 3.1 cage:  4
4.3 2
3.1 1
3.1 v 4.4 cage:  4
3.1 2
4.4 1
4.4 v 3.4 cage:  4
3.4 2
4.4 2
4.3 v 4.4 cage:  4
4.3 3
4.4 3
3.4 v 3.1 cage:  4
3.1 3
3.4 3
Current Date: 05_04
3.2 v 4.2 cage:  3
3.2 1
4.2 1
4.2 v 3.3 cage:  3
4.2 2
3.3 1
3.3 v 4.1 cage:  3
3.3 2
4.1 1
4.1 v 3.2 cage:  3
3.2 2
4.1 2
4.1 v 4.2 cage:  3
4.2 3
4.1 3
3.2 v 3.3 cage:  3
3.2 3
3.3 3
3.4 v 4.3 cage:  4
4.3 1
3.4 1
4.3 v 3.1 cage:  4
4.3 2
3.1 1
3.1 v 4.4 cage:  4
3.1 2
4.4 1
4.4 v 3.4 cage:  4
3.4 2
4.4 2
4.3 v 4.4 cage:  4
4.3 3
4.4 3
3.4 v 3.1 cage:  4
3.4 3
3.1 3
Current Date: 05_05
1.1 v 2.2 cage:  1
1.1 1
2.2 1
2.2 v 2.3 cage:  1
2.2 2
2.3 1
2.3 v 1.4 cage:  1
1.4 1
2.3 2
1.4 v 1.1 cage:  1
1.4 2
1.1 2
2.2 v 1.4 cage:  1
1.4 3
2.2 3
1.1 v 2.3 cage:  1
1.1 3
2.3 3
2.1 v 1.2 cage:  2
2.1 1
1.2 1
1.2 v 1.3 cage:  2
1.2 2
1.3 1
1.3 v 2.4 cage:  2
2.4 1
1.3 2
2.4 v 2.1 cage:  2
2.4 2
2.1 2
1.2 v 2.4 cage:  2
2.4 3
1.2 3
2.1 v 1.3 cage:  2
2.1 3
1.3 3
3.2 v 4.2 cage:  3
3.2 1
4.2 1
4.2 v 3.3 cage:  3
4.2 2
3.3 1
3.3 v 4.1 cage:  3
3.3 2
4.1 1
4.1 v 3.2 cage:  3
3.2 2
4.1 2
4.1 v 4.2 cage:  3
4.2 3
4.1 3
3.2 v 3.3 cage:  3
3.2 3
3.3 3
3.4 v 4.3 cage:  4
4.3 1
3.4 1
4.3 v 3.1 cage:  4
4.3 2
3.1 1
3.1 v 4.4 cage:  4
3.1 2
4.4 1
4.4 v 3.4 cage:  4
3.4 2
4.4 2
4.3 v 4.4 cage:  4
4.3 3
4.4 3
3.4 v 3.1 cage:  4
3.4 3
3.1 3
Current Date: 05_06
1.1 v 2.2 cage:  1
1.1 1
2.2 1
2.2 v 2.3 cage:  1
2.2 2
2.3 1
2.3 v 1.4 cage:  1
1.4 1
2.3 2
1.4 v 1.1 cage:  1
1.4 2
1.1 2
2.2 v 1.4 cage:  1
1.4 3
2.2 3
1.1 v 2.3 cage:  1
1.1 3
2.3 3
3.2 v 4.2 cage:  3
3.2 1
4.2 1
4.2 v 3.3 cage:  3
4.2 2
3.3 1
3.3 v 4.1 cage:  3
3.3 2
4.1 1
4.1 v 3.2 cage:  3
3.2 2
4.1 2
4.1 v 4.2 cage:  3
4.2 3
4.1 3
3.2 v 3.3 cage:  3
3.2 3
3.3 3
3.4 v 4.3 cage:  4
4.3 1
3.4 1
4.3 v 3.1 cage:  4
4.3 2
3.1 1
3.1 v 4.4 cage:  4
3.1 2
4.4 1
4.4 v 3.4 cage:  4
3.4 2
4.4 2
4.3 v 4.4 cage:  4
4.3 3
4.4 3
3.4 v 3.1 cage:  4
3.4 3
3.1 3
Current Date: 05_09
1.1 v 2.2 cage:  1
1.1 1
2.2 1
2.2 v 2.3 cage:  1
2.2 2
2.3 1
2.3 v 1.4 cage:  1
1.4 1
2.3 2
1.4 v 1.1 cage:  1
1.4 2
1.1 2
2.2 v 1.4 cage:  1
1.4 3
2.2 3
1.1 v 2.3 cage:  1
1.1 3
2.3 3
2.1 v 1.2 cage:  2
2.1 1
1.2 1
1.2 v 1.3 cage:  2
1.2 2
1.3 1
2.4 v 2.1 cage:  2
2.4 1
2.1 2
1.2 v 2.4 cage:  2
2.4 2
1.2 3
3.2 v 4.2 cage:  3
3.2 1
4.2 1
4.2 v 3.3 cage:  3
4.2 2
3.3 1
3.3 v 4.1 cage:  3
3.3 2
4.1 1
4.1 v 3.2 cage:  3
3.2 2
4.1 2
4.1 v 4.2 cage:  3
4.2 3
4.1 3
3.2 v 3.3 cage:  3
3.2 3
3.3 3
3.4 v 4.3 cage:  4
3.4 1
4.3 1
4.3 v 3.1 cage:  4
4.3 2
3.1 1
3.1 v 4.4 cage:  4
3.1 2
4.4 1
4.4 v 3.4 cage:  4
3.4 2
4.4 2
4.3 v 4.4 cage:  4
4.3 3
4.4 3
3.4 v 3.1 cage:  4
3.4 3
3.1 3
Current Date: 05_10
1.1 v 2.2 cage:  1
1.1 1
2.2 1
2.2 v 2.3 cage:  1
2.2 2
2.3 1
2.3 v 1.4 cage:  1
1.4 1
2.3 2
1.4 v 1.1 cage:  1
1.4 2
1.1 2
2.2 v 1.4 cage:  1
1.4 3
2.2 3
1.1 v 2.3 cage:  1
1.1 3
2.3 3
2.1 v 1.2 cage:  2
2.1 1
1.2 1
1.2 v 1.3 cage:  2
1.2 2
1.3 1
1.3 v 2.4 cage:  2
2.4 1
1.3 2
2.4 v 2.1 cage:  2
2.4 2
2.1 2
1.2 v 2.4 cage:  2
1.2 3
2.4 3
2.1 v 1.3 cage:  2
2.1 3
1.3 3
3.2 v 4.2 cage:  3
3.2 1
4.2 1
4.2 v 3.3 cage:  3
4.2 2
3.3 1
3.3 v 4.1 cage:  3
3.3 2
4.1 1
4.1 v 3.2 cage:  3
3.2 2
4.1 2
4.1 v 4.2 cage:  3
4.2 3
4.1 3
3.2 v 3.3 cage:  3
3.2 3
3.3 3
3.4 v 4.3 cage:  4
4.3 1
3.4 1
4.3 v 3.1 cage:  4
4.3 2
3.1 1
3.1 v 4.4 cage:  4
3.1 2
4.4 1
4.4 v 3.4 cage:  4
3.4 2
4.4 2
4.3 v 4.4 cage:  4
4.3 3
4.4 3
3.4 v 3.1 cage:  4
3.4 3
3.1 3
Current Date: 05_11
1.1 v 2.2 cage:  1
1.1 1
2.2 1
2.2 v 2.3 cage:  1
2.2 2
2.3 1
2.3 v 1.4 cage:  1
1.4 1
2.3 2
1.4 v 1.1 cage:  1
1.4 2
1.1 2
2.2 v 1.4 cage:  1
1.4 3
2.2 3
1.1 v 2.3 cage:  1
1.1 3
2.3 3
2.1 v 1.2 cage:  2
2.1 1
1.2 1
1.2 v 1.3 cage:  2
1.2 2
1.3 1
1.3 v 2.4 cage:  2
2.4 1
1.3 2
2.4 v 2.1 cage:  2
2.4 2
2.1 2
1.2 v 2.4 cage:  2
2.4 3
1.2 3
2.1 v 1.3 cage:  2
2.1 3
1.3 3
3.2 v 4.2 cage:  3
3.2 1
4.2 1
4.2 v 3.3 cage:  3
4.2 2
3.3 1
3.3 v 4.1 cage:  3
3.3 2
4.1 1
4.1 v 3.2 cage:  3
3.2 2
4.1 2
4.1 v 4.2 cage:  3
4.2 3
4.1 3
3.2 v 3.3 cage:  3
3.2 3
3.3 3
3.4 v 4.3 cage:  4
3.4 1
4.3 1
4.3 v 3.1 cage:  4
3.1 1
4.3 2
3.1 v 4.4 cage:  4
3.1 2
4.4 1
4.4 v 3.4 cage:  4
3.4 2
4.4 2
4.3 v 4.4 cage:  4
4.3 3
4.4 3
3.4 v 3.1 cage:  4
3.4 3
3.1 3
Current Date: 05_12
1.1 v 2.2 cage:  1
1.1 1
2.2 1
2.2 v 2.3 cage:  1
2.2 2
2.3 1
2.3 v 1.4 cage:  1
1.4 1
2.3 2
1.4 v 1.1 cage:  1
1.4 2
1.1 2
2.2 v 1.4 cage:  1
1.4 3
2.2 3
1.1 v 2.3 cage:  1
1.1 3
2.3 3
2.1 v 1.2 cage:  2
2.1 1
1.2 1
1.2 v 1.3 cage:  2
1.2 2
1.3 1
1.3 v 2.4 cage:  2
2.4 1
1.3 2
2.4 v 2.1 cage:  2
2.1 2
2.4 2
1.2 v 2.4 cage:  2
2.4 3
1.2 3
2.1 v 1.3 cage:  2
2.1 3
1.3 3
3.2 v 4.2 cage:  3
3.2 1
4.2 1
4.2 v 3.3 cage:  3
4.2 2
3.3 1
3.3 v 4.1 cage:  3
3.3 2
4.1 1
4.1 v 3.2 cage:  3
3.2 2
4.1 2
4.1 v 4.2 cage:  3
4.2 3
4.1 3
3.2 v 3.3 cage:  3
3.2 3
3.3 3
3.4 v 4.3 cage:  4
3.4 1
4.3 1
4.3 v 3.1 cage:  4
3.1 1
4.3 2
3.1 v 4.4 cage:  4
3.1 2
4.4 1
4.4 v 3.4 cage:  4
3.4 2
4.4 2
4.3 v 4.4 cage:  4
4.3 3
4.4 3
3.4 v 3.1 cage:  4
3.4 3
3.1 3
Current Date: 05_13
1.1 v 2.2 cage:  1
1.1 1
2.2 1
2.2 v 2.3 cage:  1
2.2 2
2.3 1
2.3 v 1.4 cage:  1
1.4 1
2.3 2
1.4 v 1.1 cage:  1
1.4 2
1.1 2
2.2 v 1.4 cage:  1
1.4 3
2.2 3
1.1 v 2.3 cage:  1
1.1 3
2.3 3
2.1 v 1.2 cage:  2
2.1 1
1.2 1
1.2 v 1.3 cage:  2
1.2 2
1.3 1
1.3 v 2.4 cage:  2
2.4 1
1.3 2
2.4 v 2.1 cage:  2
2.1 2
2.4 2
1.2 v 2.4 cage:  2
2.4 3
1.2 3
2.1 v 1.3 cage:  2
2.1 3
1.3 3
3.2 v 4.2 cage:  3
3.2 1
4.2 1
4.2 v 3.3 cage:  3
4.2 2
3.3 1
3.3 v 4.1 cage:  3
3.3 2
4.1 1
4.1 v 3.2 cage:  3
3.2 2
4.1 2
4.1 v 4.2 cage:  3
4.2 3
4.1 3
3.2 v 3.3 cage:  3
3.2 3
3.3 3
3.4 v 4.3 cage:  4
3.4 1
4.3 1
4.3 v 3.1 cage:  4
3.1 1
4.3 2
3.1 v 4.4 cage:  4
3.1 2
4.4 1
4.4 v 3.4 cage:  4
3.4 2
4.4 2
4.3 v 4.4 cage:  4
4.3 3
4.4 3
3.4 v 3.1 cage:  4
3.4 3
3.1 3
Current Date: 05_20
1.1 v 2.2 cage:  1
1.1 1
2.2 1
2.2 v 2.3 cage:  1
2.2 2
2.3 1
2.3 v 1.4 cage:  1
1.4 1
2.3 2
1.4 v 1.1 cage:  1
1.4 2
1.1 2
2.2 v 1.4 cage:  1
1.4 3
2.2 3
1.1 v 2.3 cage:  1
1.1 3
2.3 3
2.1 v 1.2 cage:  2
2.1 1
1.2 1
1.2 v 1.3 cage:  2
1.2 2
1.3 1
1.3 v 2.4 cage:  2
2.4 1
1.3 2
2.4 v 2.1 cage:  2
2.1 2
2.4 2
1.2 v 2.4 cage:  2
2.4 3
1.2 3
2.1 v 1.3 cage:  2
2.1 3
1.3 3
3.2 v 4.2 cage:  3
3.2 1
4.2 1
4.2 v 3.3 cage:  3
4.2 2
3.3 1
3.3 v 4.1 cage:  3
4.1 1
3.3 2
4.1 v 3.2 cage:  3
3.2 2
4.1 2
4.1 v 4.2 cage:  3
4.2 3
4.1 3
3.2 v 3.3 cage:  3
3.2 3
3.3 3
3.4 v 4.3 cage:  4
3.4 1
4.3 1
4.3 v 3.1 cage:  4
4.3 2
3.1 1
3.1 v 4.4 cage:  4
4.4 1
3.1 2
4.4 v 3.4 cage:  4
3.4 2
4.4 2
4.3 v 4.4 cage:  4
4.3 3
4.4 3
3.4 v 3.1 cage:  4
3.4 3
3.1 3

In [27]:
id_to_elo_score

defaultdict(<function __main__.<lambda>()>,
            {'1.1': 1148.7856476091606,
             '2.2': 775.9004494043129,
             '2.3': 402.5305203032688,
             '1.4': 1690.6829311768026,
             '1.2': 814.2572997871117,
             '1.3': 439.4400066101164,
             '2.4': 1484.1112805347207,
             '2.1': 1244.291864574505,
             '3.2': 1676.7308664601276,
             '4.2': 1243.321604033252,
             '3.3': 780.5585725784883,
             '4.1': 299.38895692813134,
             '4.3': 1587.6518944292377,
             '3.4': 1131.0906235005993,
             '3.1': 1005.8660918659234,
             '4.4': 275.39139020423966})

In [28]:
id_to_day_to_elo_score

defaultdict(dict,
            {'1.1': {'cage': '1',
              '04_25_match_1': 1010.0,
              '04_25_match_2': 999.991956254121,
              '04_25_match_3': 990.5664993847546,
              '04_26_match_1': 1000.6081113244983,
              '04_26_match_2': 989.4288003083827,
              '04_26_match_3': 999.4458171400197,
              '04_27_match_1': 1010.6783369358568,
              '04_27_match_2': 998.7642386504956,
              '04_27_match_3': 1009.957621071186,
              '04_28_match_1': 1001.9308944139408,
              '04_28_match_2': 988.7057527519511,
              '04_28_match_3': 1000.6205176739941,
              '04_29_match_1': 1011.730691609488,
              '04_29_match_2': 997.6545814568298,
              '04_29_match_3': 1010.8624439325795,
              '05_02_match_1': 1022.6946826909474,
              '05_02_match_2': 1007.7912028258518,
              '05_02_match_3': 1022.2865806235221,
              '05_05_match_1': 1034.8852337592525,
              '05_05_match_2': 1019.2005774390932,
              '05_05_match_3': 1034.9036516864317,
              '05_06_match_1': 1048.293179652749,
              '05_06_match_2': 1031.8980786085951,
              '05_06_match_3': 1048.6652485510906,
              '05_09_match_1': 1062.8464645777333,
              '05_09_match_2': 1045.8252636198376,
              '05_09_match_3': 1063.474546941572,
              '05_10_match_1': 1078.424343951101,
              '05_10_match_2': 1060.8648820090057,
              '05_10_match_3': 1079.2058381567376,
              '05_11_match_1': 1094.880192376268,
              '05_11_match_2': 1076.8665803842637,
              '05_11_match_3': 1095.724486728061,
              '05_12_match_1': 1112.0636759559532,
              '05_12_match_2': 1093.672186346915,
              '05_12_match_3': 1112.9015369284816,
              '05_13_match_1': 1129.8362123716374,
              '05_13_match_2': 1111.133553942238,
              '05_13_match_3': 1130.62161632009,
              '05_20_match_1': 1148.0785584156106,
              '05_20_match_2': 1129.121658801799,
              '05_20_match_3': 1148.7856476091606},
             '2.2': {'cage': '1',
              '04_25_match_1': 990.0,
              '04_25_match_2': 999.71225631668,
              '04_25_match_3': 989.1207441750823,
              '04_26_match_1': 968.7811910998294,
              '04_26_match_3': 956.4048576685256,
              '04_27_match_1': 945.1723378726884,
              '04_27_match_2': 954.2068808448918,
              '04_27_match_3': 940.4878516425163,
              '04_28_match_1': 948.5145782997615,
              '04_28_match_2': 958.5895434128431,
              '04_28_match_3': 943.9899314558725,
              '04_28_match_4': 952.6920545540871,
              '04_28_match_5': 961.8894799494178,
              '04_29_match_1': 950.7793060139239,
              '04_29_match_2': 961.963737882848,
              '04_29_match_3': 946.4768877364994,
              '05_02_match_1': 934.6446489781315,
              '05_02_match_2': 946.5142125515049,
              '05_02_match_3': 929.8812361193734,
              '05_05_match_1': 917.282582983643,
              '05_05_match_2': 929.8753903031111,
              '05_05_match_3': 912.2905339070694,
              '05_06_match_1': 898.9010059407522,
              '05_06_match_2': 912.2374662868683,
              '05_06_match_3': 893.9127530235945,
              '05_09_match_1': 879.7315369969518,
              '05_09_match_2': 893.8124727365336,
              '05_09_match_3': 874.9439625168978,
              '05_10_match_1': 859.9941655073688,
              '05_10_match_2': 874.8013735004324,
              '05_10_match_3': 855.5503565277648,
              '05_11_match_1': 839.8760023082343,
              '05_11_match_2': 855.3745977689513,
              '05_11_match_3': 835.8631980258065,
              '05_12_match_1': 819.5240087979143,
              '05_12_match_2': 835.6659010531183,
              '05_12_match_3': 815.98137161604,
              '05_13_match_1': 799.0466961728841,
              '05_13_match_2': 815.7746122903194,
              '05_13_match_3': 795.976847378486,
              '05_20_match_1': 778.5199052829654,
              '05_20_match_2': 795.7714409146307,
              '05_20_match_3': 775.9004494043129},
             '2.3': {'cage': '1',
              '04_25_match_2': 990.28774368332,
              '04_25_match_1': 980.00827526712,
              '04_25_match_3': 989.4337321364864,
              '04_26_match_1': 988.8375744513547,
              '04_26_match_3': 978.8205576197178,
              '04_27_match_2': 969.7860146475144,
              '04_27_match_1': 957.1033571331003,
              '04_27_match_3': 945.9099747124098,
              '04_28_match_2': 935.8350095993283,
              '04_28_match_1': 921.3486221018132,
              '04_28_match_3': 909.4338571797703,
              '04_29_match_2': 898.2494253108462,
              '04_29_match_1': 882.1241544399842,
              '04_29_match_3': 868.9162919642345,
              '05_02_match_2': 857.0467283908611,
              '05_02_match_1': 839.5903942205962,
              '05_02_match_3': 825.0950164229258,
              '05_05_match_2': 812.5022091034577,
              '05_05_match_1': 794.0698435877439,
              '05_05_match_3': 778.3667693404055,
              '05_06_match_2': 765.0303089942894,
              '05_06_match_1': 745.9473222976073,
              '05_06_match_3': 729.1801523551119,
              '05_09_match_2': 715.0992166155302,
              '05_09_match_1': 695.6145491405484,
              '05_09_match_3': 677.9652658188139,
              '05_10_match_2': 663.1580578257503,
              '05_10_match_1': 643.4392392349253,
              '05_10_match_3': 625.0982830871933,
              '05_11_match_2': 609.5996876264763,
              '05_11_match_1': 589.7498782714288,
              '05_11_match_3': 570.8919719276315,
              '05_12_match_2': 554.7500796724275,
              '05_12_match_1': 534.8290813962167,
              '05_12_match_3': 515.5997308146501,
              '05_13_match_2': 498.87181469721486,
              '05_13_match_1': 478.9129082798544,
              '05_13_match_3': 459.4248459020024,
              '05_20_match_2': 442.173310270337,
              '05_20_match_1': 422.19450911063046,
              '05_20_match_3': 402.5305203032688},
             '1.4': {'cage': '1',
              '04_25_match_1': 1010.2794684162,
              '04_25_match_2': 1020.287512162079,
              '04_25_match_3': 1030.8790243036767,
              '04_26_match_1': 1041.7731231243176,
              '04_26_match_2': 1052.952434140433,
              '04_26_match_3': 1065.3287675717368,
              '04_27_match_1': 1078.011425086151,
              '04_27_match_2': 1089.925523371512,
              '04_27_match_3': 1103.6445525738877,
              '04_28_match_1': 1118.1309400714028,
              '04_28_match_2': 1131.3560817333926,
              '04_28_match_3': 1145.9556936903632,
              '04_29_match_1': 1162.0809645612253,
              '04_29_match_2': 1176.1570747138835,
              '04_29_match_3': 1191.6439248602321,
              '05_02_match_1': 1209.100259030497,
              '05_02_match_2': 1224.0037388955925,
              '05_02_match_3': 1240.636715327724,
              '05_05_match_1': 1259.0690808434379,
              '05_05_match_2': 1274.7537371635972,
              '05_05_match_3': 1292.3385935596389,
              '05_06_match_1': 1311.4215802563208,
              '05_06_match_2': 1327.8166813004746,
              '05_06_match_3': 1346.1413945637482,
              '05_09_match_1': 1365.62606203873,
              '05_09_match_2': 1382.6472629966256,
              '05_09_match_3': 1401.5157732162613,
              '05_10_match_1': 1421.2345918070864,
              '05_10_match_2': 1438.7940537491818,
              '05_10_match_3': 1458.0450707218492,
              '05_11_match_1': 1477.8948800768967,
              '05_11_match_2': 1495.908492068901,
              '05_11_match_3': 1515.4198918120458,
              '05_12_match_1': 1535.3408900882566,
              '05_12_match_2': 1553.7323796972948,
              '05_12_match_3': 1573.416909134373,
              '05_13_match_1': 1593.3758155517337,
              '05_13_match_2': 1612.0784739811331,
              '05_13_match_3': 1631.8762388929665,
              '05_20_match_1': 1651.855040052673,
              '05_20_match_2': 1670.8119396664847,
              '05_20_match_3': 1690.6829311768026},
             '1.2': {'cage': '2',
              '04_25_match_1': 1010.0,
              '04_26_match_1': 999.9832122872557,
              '04_26_match_2': 1010.8689409755008,
              '04_26_match_3': 1000.266983386267,
              '04_27_match_1': 989.6313069090417,
              '04_27_match_2': 1001.1925696009239,
              '04_27_match_3': 989.338577878657,
              '04_28_match_4': 980.6364547804424,
              '04_28_match_5': 971.4390293851117,
              '04_28_match_3': 957.7824840063296,
              '04_29_match_1': 945.5215812073708,
              '04_29_match_2': 957.7082781781298,
              '04_29_match_3': 942.7404100787057,
              '05_02_match_1': 929.6762064168964,
              '05_02_match_2': 942.6119647412701,
              '05_02_match_3': 926.441256201476,
              '05_05_match_1': 912.5550151238078,
              '05_05_match_2': 926.2530909303254,
              '05_05_match_3': 909.0540059482753,
              '05_09_match_1': 894.3554110711312,
              '05_09_match_2': 890.9948419823336,
              '05_10_match_1': 875.8917470986527,
              '05_10_match_2': 890.2491344017943,
              '05_10_match_3': 891.7583895471045,
              '05_11_match_1': 876.2982122219574,
              '05_11_match_2': 891.7932651387434,
              '05_11_match_3': 873.063227312966,
              '05_12_match_1': 856.8941539406561,
              '05_12_match_2': 873.0443401947282,
              '05_12_match_3': 853.993247298716,
              '05_13_match_1': 836.8915585565577,
              '05_13_match_2': 853.633034161497,
              '05_13_match_3': 834.3351373812303,
              '05_20_match_1': 816.476459430043,
              '05_20_match_2': 833.7415144093026,
              '05_20_match_3': 814.2572997871117},
             '1.3': {'cage': '2',
              '04_25_match_1': 969.1289908880552,
              '04_26_match_2': 958.2432621998101,
              '04_26_match_1': 946.7564061265579,
              '04_26_match_3': 934.940186347881,
              '04_27_match_2': 923.3789236559987,
              '04_27_match_1': 910.0809575757268,
              '04_27_match_3': 896.9571421138124,
              '04_28_match_1': 882.1670279408256,
              '04_28_match_2': 868.3010435770619,
              '04_29_match_2': 856.1143466063029,
              '04_29_match_1': 839.7352836034404,
              '04_29_match_3': 824.5856685643963,
              '05_02_match_2': 811.6499102400227,
              '05_02_match_1': 793.9984939112368,
              '05_02_match_3': 777.6804588779291,
              '05_05_match_2': 763.9823830714116,
              '05_05_match_1': 745.4150283801598,
              '05_05_match_3': 728.1041689661652,
              '05_09_match_2': 713.6536773985462,
              '05_10_match_2': 699.2962900954045,
              '05_10_match_1': 679.939102889105,
              '05_10_match_3': 661.6968643154614,
              '05_11_match_2': 646.2018113986754,
              '05_11_match_1': 626.5979120473145,
              '05_11_match_3': 607.7990273759035,
              '05_12_match_2': 591.6488411218314,
              '05_12_match_1': 571.8628460981136,
              '05_12_match_3': 552.5824554975922,
              '05_13_match_2': 535.8409798926529,
              '05_13_match_1': 515.9683078977071,
              '05_13_match_3': 496.3887133030353,
              '05_20_match_2': 479.12365832377566,
              '05_20_match_1': 459.19878055349636,
              '05_20_match_3': 439.4400066101164},
             '2.4': {'cage': '2',
              '04_25_match_1': 1010.28774368332,
              '04_26_match_1': 1021.7745997565722,
              '04_26_match_2': 1031.8084057968774,
              '04_26_match_3': 1042.4103633861112,
              '04_27_match_1': 1055.708329466383,
              '04_27_match_2': 1066.3604786267279,
              '04_27_match_3': 1078.2144703489946,
              '04_28_match_1': 1093.0045845219815,
              '04_28_match_2': 1104.645035274255,
              '04_28_match_3': 1118.301580653037,
              '04_29_match_1': 1134.6806436558995,
              '04_29_match_2': 1147.071450669416,
              '04_29_match_3': 1162.03931876884,
              '05_02_match_1': 1179.690735097626,
              '05_02_match_2': 1192.8562152470095,
              '05_02_match_3': 1209.0269237868035,
              '05_05_match_1': 1227.5942784780552,
              '05_05_match_2': 1241.5352550140217,
              '05_05_match_3': 1258.7343399960716,
              '05_09_match_1': 1272.9883248004644,
              '05_09_match_2': 1290.799385456881,
              '05_10_match_1': 1310.1565726631804,
              '05_10_match_2': 1325.5258307602176,
              '05_10_match_3': 1324.0165756149074,
              '05_11_match_1': 1343.6204749662684,
              '05_11_match_2': 1359.2924126353366,
              '05_11_match_3': 1378.022450461114,
              '05_12_match_1': 1397.8084454848317,
              '05_12_match_2': 1394.1228188842808,
              '05_12_match_3': 1413.173911780293,
              '05_13_match_1': 1433.0465837752388,
              '05_13_match_2': 1429.2766399587003,
              '05_13_match_3': 1448.574536738967,
              '05_20_match_1': 1468.4994145092464,
              '05_20_match_2': 1464.6270659125298,
              '05_20_match_3': 1484.1112805347207},
             '2.1': {'cage': '2',
              '04_25_match_1': 1010.5832654286248,
              '04_26_match_1': 1020.6000531413691,
              '04_26_match_2': 1010.566247101064,
              '04_26_match_3': 1022.382466879741,
              '04_27_match_1': 1033.0181433569664,
              '04_27_match_2': 1022.3659941966217,
              '04_27_match_3': 1035.489809658536,
              '04_28_match_2': 1037.715343270026,
              '04_29_match_1': 1049.976246068985,
              '04_29_match_2': 1037.5854390554684,
              '04_29_match_3': 1052.7350540945124,
              '05_02_match_1': 1065.7992577563216,
              '05_02_match_2': 1052.633777606938,
              '05_02_match_3': 1068.9518126402456,
              '05_05_match_1': 1082.8380537179137,
              '05_05_match_2': 1068.8970771819472,
              '05_05_match_3': 1086.2079365959419,
              '05_09_match_1': 1086.6525466686933,
              '05_10_match_1': 1101.755641552374,
              '05_10_match_2': 1086.386383455337,
              '05_10_match_3': 1104.6286220289805,
              '05_11_match_1': 1120.0887993541276,
              '05_11_match_2': 1104.4168616850593,
              '05_11_match_3': 1123.2157463564704,
              '05_12_match_1': 1139.3848197287803,
              '05_12_match_2': 1143.0704463293312,
              '05_12_match_3': 1162.3508369298524,
              '05_13_match_1': 1179.4525256720108,
              '05_13_match_2': 1183.2224694885492,
              '05_13_match_3': 1202.802064083221,
              '05_20_match_1': 1220.6607420344085,
              '05_20_match_2': 1224.533090631125,
              '05_20_match_3': 1244.291864574505},
             '3.2': {'cage': '3',
              '04_25_match_1': 1010.0,
              '04_25_match_2': 1020.5669937568144,
              '04_25_match_3': 1011.1580315791201,
              '04_26_match_1': 1021.1830943090558,
              '04_26_match_2': 1032.974604620251,
              '04_26_match_3': 1043.6189261393367,
              '04_27_match_1': 1054.245895303057,
              '04_27_match_2': 1067.8650553656416,
              '04_27_match_3': 1079.18566508928,
              '04_28_match_1': 1091.0371512648826,
              '04_28_match_2': 1106.3907665289937,
              '04_28_match_3': 1119.0013272887395,
              '04_29_match_1': 1131.617462007797,
              '04_29_match_2': 1148.4661720123772,
              '04_29_match_3': 1162.392512334002,
              '05_02_match_1': 1155.8048596547762,
              '05_02_match_2': 1173.3544693022088,
              '05_02_match_3': 1188.5492853144967,
              '05_04_match_1': 1201.7473499113994,
              '05_04_match_2': 1220.2462271635425,
              '05_04_match_3': 1236.596477993905,
              '05_05_match_1': 1250.5723879435725,
              '05_05_match_2': 1269.6989355282915,
              '05_05_match_3': 1287.0269001338681,
              '05_06_match_1': 1301.7627306260754,
              '05_06_match_2': 1321.2740869902036,
              '05_06_match_3': 1339.3802762108467,
              '05_09_match_1': 1354.8379143705838,
              '05_09_match_2': 1374.5722892099454,
              '05_09_match_3': 1393.2658687630874,
              '05_10_match_1': 1409.391841763664,
              '05_10_match_2': 1429.250393794683,
              '05_10_match_3': 1448.3684164118406,
              '05_11_match_1': 1465.0992566857901,
              '05_11_match_2': 1485.0250396663191,
              '05_11_match_3': 1504.4394478989157,
              '05_12_match_1': 1521.7067665679438,
              '05_12_match_2': 1541.6682410127935,
              '05_12_match_3': 1561.284302964894,
              '05_13_match_1': 1579.019079042154,
              '05_13_match_2': 1598.9992385894616,
              '05_13_match_3': 1618.7498719562084,
              '05_20_match_1': 1636.8857301999699,
              '05_20_match_2': 1656.8743345522016,
              '05_20_match_3': 1676.7308664601276},
             '4.2': {'cage': '3',
              '04_25_match_1': 990.0,
              '04_25_match_2': 999.71225631668,
              '04_25_match_3': 1010.2872613308956,
              '04_26_match_1': 1000.2621986009599,
              '04_26_match_2': 1009.9987563713121,
              '04_26_match_3': 1021.8071763086739,
              '04_27_match_1': 1001.5043839107543,
              '04_27_match_3': 1014.1079020602507,
              '04_28_match_1': 1002.2564158846482,
              '04_28_match_2': 1012.0222918372235,
              '04_28_match_3': 1025.9443058819106,
              '04_29_match_1': 1013.3281711628532,
              '04_29_match_2': 1023.6848379486689,
              '04_29_match_3': 1038.8828733649993,
              '05_02_match_1': 1045.4705260442252,
              '05_02_match_2': 1057.0428560240791,
              '05_02_match_3': 1073.3981867298846,
              '05_04_match_1': 1060.200122132982,
              '05_04_match_2': 1073.0552992423134,
              '05_04_match_3': 1090.4010226026155,
              '05_05_match_1': 1076.425112652948,
              '05_05_match_2': 1090.0773608932404,
              '05_05_match_3': 1108.208999371119,
              '05_06_match_1': 1093.4731688789118,
              '05_06_match_2': 1107.9147256775793,
              '05_06_match_3': 1126.6357121533379,
              '05_09_match_1': 1111.1780739936007,
              '05_09_match_2': 1126.3773478789813,
              '05_09_match_3': 1145.5205546864192,
              '05_10_match_1': 1129.3945816858427,
              '05_10_match_2': 1145.3004770389725,
              '05_10_match_3': 1164.7357711893028,
              '05_11_match_1': 1148.0049309153533,
              '05_11_match_2': 1164.5528795968407,
              '05_11_match_3': 1184.185082220968,
              '05_12_match_1': 1166.91776355194,
              '05_12_match_2': 1184.035979261775,
              '05_12_match_3': 1203.7984750254398,

In [29]:
elo_score_df = pd.DataFrame.from_dict(id_to_day_to_elo_score, orient="index")

In [30]:
elo_score_df = elo_score_df.reindex(sorted(elo_score_df.columns), axis=1)

In [31]:
elo_score_df

,04_25_match_1,04_25_match_2,04_25_match_3,04_26_match_1,04_26_match_2,04_26_match_3,04_27_match_1,04_27_match_2,04_27_match_3,04_28_match_1,...,05_12_match_1,05_12_match_2,05_12_match_3,05_13_match_1,05_13_match_2,05_13_match_3,05_20_match_1,05_20_match_2,05_20_match_3,cage
1.1,1010.000000,999.991956,990.566499,1000.608111,989.428800,999.445817,1010.678337,998.764239,1009.957621,1001.930894,...,1112.063676,1093.672186,1112.901537,1129.836212,1111.133554,1130.621616,1148.078558,1129.121659,1148.785648,1
2.2,990.000000,999.712256,989.120744,968.781191,NaN,956.404858,945.172338,954.206881,940.487852,948.514578,...,819.524009,835.665901,815.981372,799.046696,815.774612,795.976847,778.519905,795.771441,775.900449,1
2.3,980.008275,990.287744,989.433732,988.837574,NaN,978.820558,957.103357,969.786015,945.909975,921.348622,...,534.829081,554.750080,515.599731,478.912908,498.871815,459.424846,422.194509,442.173310,402.530520,1
1.4,1010.279468,1020.287512,1030.879024,1041.773123,1052.952434,1065.328768,1078.011425,1089.925523,1103.644553,1118.130940,...,1535.340890,1553.732380,1573.416909,1593.375816,1612.078474,1631.876239,1651.855040,1670.811940,1690.682931,1
1.2,1010.000000,NaN,NaN,999.983212,1010.868941,1000.266983,989.631307,1001.192570,989.338578,NaN,...,856.894154,873.044340,853.993247,836.891559,853.633034,834.335137,816.476459,833.741514,814.257300,2
1.3,969.128991,NaN,NaN,946.756406,958.243262,934.940186,910.080958,923.378924,896.957142,882.167028,...,571.862846,591.648841,552.582455,515.968308,535.840980,496.388713,459.198781,479.123658,439.440007,2
2.4,1010.287744,NaN,NaN,1021.774600,1031.808406,1042.410363,1055.708329,1066.360479,1078.214470,1093.004585,...,1397.808445,1394.122819,1413.173912,1433.046584,1429.276640,1448.574537,1468.499415,1464.627066,1484.111281,2
2.1,1010.583265,NaN,NaN,1020.600053,1010.566247,1022.382467,1033.018143,1022.365994,1035.489810,NaN,...,1139.384820,1143.070446,1162.350837,1179.452526,1183.222469,1202.802064,1220.660742,1224.533091,1244.291865,2
3.2,1010.000000,1020.566994,1011.158032,1021.183094,1032.974605,1043.618926,1054.245895,1067.865055,1079.185665,1091.037151,...,1521.706767,1541.668241,1561.284303,1579.019079,1598.999239,1618.749872,1636.885730,1656.874335,1676.730866,3
4.2,990.000000,999.712256,1010.287261,1000.262199,1009.998756,1021.807176,1001.504384,NaN,1014.107902,1002.256416,...,1166.917764,1184.035979,1203.798475,1186.063699,1203.678627,1223.526201,1205.390343,1223.430817,1243.321604,3
3.3,NaN,1000.008275,1009.417237,NaN,1010.557526,999.913205,1009.589028,1021.712815,1010.392205,NaN,...,NaN,858.327972,838.711910,NaN,839.502164,819.751531,800.415104,801.711057,780.558573,3
4.1,NaN,979.712475,969.137470,NaN,946.469113,934.660693,NaN,908.917746,896.314228,NaN,...,NaN,415.967808,396.205312,NaN,357.819970,337.972396,339.268348,319.279744,299.388957,3
4.3,1010.000000,1020.287744,1031.433499,1042.620202,1053.573462,1066.529054,1079.000707,1090.686692,1105.432080,1118.730136,...,1512.416892,NaN,1532.384957,1530.063791,NaN,1550.043259,1548.669607,1567.665078,1587.651894,4
3.4,990.000000,999.991480,990.008037,978.821334,989.410789,978.839318,966.367665,977.618200,986.397148,973.099092,...,1035.225330,1054.682533,1065.136201,1066.407879,1086.081261,1097.142910,1098.516563,1118.298849,1131.090624,4
3.1,NaN,999.416238,1009.399681,NaN,1009.287396,1019.858867,NaN,1020.254628,1011.475679,NaN,...,1019.569600,1038.909661,1028.455992,1029.505481,1049.056263,1037.994613,1018.657867,1018.999142,1005.866092,4
4.4,NaN,980.304539,969.158783,NaN,947.728353,934.772761,NaN,911.440480,896.695093,NaN,...,NaN,393.990914,374.022850,NaN,334.798686,314.819217,315.160493,295.378207,275.391390,4

In [32]:
elo_score_df.to_csv("./proc/id_to_date_elo_score.csv")
# elo_score_df.to_excel("./proc/id_to_date_elo_score.xlsx")

# DROP days that have have draws